<div class="row">
    <div class="col-3">
        studentName => {{studentName}}
    </div>
    <div class="col-3">
        {{studentName |uppercase}}
    </div>
</div>

<div class="row">
    <div class="col-4">
        studentAddress => {{studentAddress}}
    </div>
    <div class="col-4">
        {{studentAddress |lowercase}}
    </div>
     <div class="col-4">
        {{studentAddress |titlecase}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4">
        productPrice => {{productPrice}}
    </div>
    <div class="col-4">
        {{productPrice |number}}
    </div>
     <div class="col-4">
        {{productPrice |number: '1.2-2'}}
    </div>
</div>
<hr>

<div class="row">
    <div class="col-3">
        rollNoList => {{rollNoList}}
    </div>
    <div class="col-3">
        {{rollNoList |slice:3}}
    </div>
     <div class="col-3">
        {{rollNoList |slice: 0:5}}
    </div>
    <div class="col-3">
        {{studentName |slice: 0:3}}
    </div>
</div>


<hr>
<div class="row">
    <div class="col-3">
        studentObj => {{studentObj}}
    </div>
    <div class="col-3">
        {{studentObj |json}}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-3">
        curentDate => {{curentDate |date}}
    </div>
    <div class="col-3">
        {{curentDate |date:'dd-MM-yy'}}
    </div>
     <div class="col-3">
        {{curentDate |date:'dd-MMM-yy'}}
    </div>
     <div class="col-3">
        {{curentDate |date:'dd-MMMM-yyyy'}}
    </div>
</div>

<hr>
<div class="row">
    <div class="col-3">
        {{'1111222233335656' | cardNoFormatter | uppercase}}
    </div>
    <div class="col-3">
       {{cardNo | cardNoFormatter}}
    </div>
    <div class="col-3">
        {{courserName}}
        **courserName**
    </div>
    <div class="col-3">
        <button (click)="changeCOurse()">Chnage Text</button>
    </div>
</div>
<hr>

<app-user-card [cardHeader]="'Text Header '"></app-user-card>

