<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="variables" >variable</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  routerLinkActive="active" [routerLink]="'databinding'">Data-Bindings</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"  routerLinkActive="active" routerLink="directives">Directives</a>
        </li> 
        <li class="nav-item" >
          <a class="nav-link"  routerLinkActive="active" routerLink="control-flow">Control-flow</a>
        </li> 
         <li class="nav-item" >
          <a class="nav-link"  routerLinkActive="active" routerLink="template-form">Template</a>
        </li>  -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/reactive-form">Reactive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="s/admin/ignal-basic">Signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/signal-form">Signal Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[{outlets:{royter2: ['get-api']}}]"  >Get API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/clinets">clinets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/lifecycle">lifecycle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/ng-tem-container">template-container</a>
        </li>
      </ul>
      <form class="d-flex">
        <select name="" id="" (change)="onRoleChnages($event)">
          <option value="Admin">Admin</option>
          <option value="Guest">Guest</option>
        </select>
        <button class="btn btn-secondary text-white">{{loggedUserEmail}}</button>
        <button class="btn btn-primary" type="button" (click)="onLogOff()">Log Off</button>
      </form>
    </div>
  </div>
</nav>
<!-- <div class="row">
  <div class="col-6">
    <div class="container-fluid">
      <router-outlet name="royter1"></router-outlet>
    </div>
  </div>
  <div class="col-6">
    <div class="container-fluid">
      <router-outlet  name="royter2"></router-outlet>
    </div>
  </div>
</div> -->
 <div class="container-fluid">
      <router-outlet ></router-outlet>
    </div>


<hr>