
 
<div class="row">
    <div class="col-3">
        {{employeeName}}
    </div>
    <div class="col-3">
       signal=> {{empMobileNo()}}
    </div>
    <div class="col-3">
        isActive = {{isActive()}}
    </div>
    <div class="col-3">
        <ul>
            @for (item of cityListSignal(); track $index) {
                <li>{{item}}</li>
            }
        </ul>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-3">
         <button class="btn btn-success" (click)="chnageEmpName()">
            Change EmpName</button>
    </div>
     <div class="col-3">
         <button class="btn btn-success" (click)="chnageMobile()">
            Change Mobile</button>
    </div>
</div>
