<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card card-header bg-warning">
        Customer Form
      </div>
      <div class="card-body">
        <form [formGroup]="customerForm">
          <div class="row">
            @for (item of formFields; track $index) { 
              @if (!item.isHidden) {
                <div [class]="item.width"> 
                   <label for="">{{item.lable}}</label>
              @if (item.type == 'text' || item.type  =='number') { 
                <input  [type]="item.type" [formControlName]="item.name" class="form-control"  [placeholder]="item.placeholder" >
              } @else if (item.type == 'checkbox') {
                  <input  type="checkbox" [formControlName]="item.name"  [placeholder]="item.placeholder" >
              } @else if(item.type == 'select') { 
                <select [formControlName]="item.name" class="form-select">
                  <option value="">{{item.placeholder}}</option>
                  @for (opt of item.option; track $index) {
                    <option [value]="opt"> {{opt}}</option>
                  }
                </select>
              } @else if (item.type == "textarea") { 
                <textarea [formControlName]="item.name" class="form-control"  [placeholder]="item.placeholder" > </textarea>
              }
              </div>
              <div class="text-danger">
                @if (getControl(item.name)?.invalid) {
                  @if(getControl(item.name)?.errors?.['required']) {
                      {{item.name}} is Required
                  } @else if (getControl(item.name)?.errors?.['minlength']) {
                    Min {{getControl(item.name)?.errors?.['minlength'].requiredLength}} Chars Are Required
                  } 
                }
              </div>
            } 
          }
          </div>
        
          <div class="row mt-2">
            <div class="col-6  text-center">
              <button class="btn btn-secondary">Reset</button>
            </div>
              <div class="col-6 text-center">
              <button class="btn btn-success" (click)="onSaveCustomer()">Save Customer</button>
            </div>
          </div>
            </form>
      </div>
    </div>
  </div>
</div>